<div class = "sidebar-settings">
  <ul>
    <li>
      <a href = "/user-settings" class = "<% if(tab == 'personal'){%>active<%} %>"><span class = "fui-user"></span>Personal Details</a>
    </li>
    <li>
      <a href = "/user-settings/picture" class = "<% if(tab == 'picture'){%>active<%} %>"><span class = "fui-image"></span>Profile Picture</a>
    </li>
    <li>
      <a href = "/user-settings/department-skills" class = "<% if(tab == 'department'){%>active<%} %>"><span class = "fui-list-bulleted"></span>Department & Skills</a>
    </li>
    <li>
      <a href = "/user-settings/works" class = "<% if(tab == 'works'){%>active<%} %>"><span class = "fui-list-large-thumbnails"></span>Manage Works</a>
    </li>
  </ul>
</div>