<div class = "sidebar-dashboard">
    <ul>
        
        <li class = "sidebar-dashboard-items active ">
            <a href = "/discover">
                <span class = "fui-eye sidebar-dashboard-nav-icon inline-block-middle"></span>
                <div class = "sidebar-dashboard-nav-name inline-block-middle">Discover</div>
            </a>
        </li>
        
        <li class = "sidebar-dashboard-items">
            <a href = "/feed">
                <span class = "fa fa-feed sidebar-dashboard-nav-icon inline-block-middle"></span>
                <div class = "sidebar-dashboard-nav-name inline-block-middle">Feed</div>
            </a>
        </li>
    
    
        <li class = "sidebar-dashboard-items">
            <a href = "/artists">
                <span class = "fa fa-users sidebar-dashboard-nav-icon inline-block-middle"></span>
                <div class = "sidebar-dashboard-nav-name inline-block-middle">Artists</div>
            </a>
        </li>
    
    
        <li class = "sidebar-dashboard-items">
            <a href = "/favorites">
                <span class = "fa fa-star sidebar-dashboard-nav-icon inline-block-middle"></span>
                <div class = "sidebar-dashboard-nav-name inline-block-middle">My Favorites</div>
            </a>
        </li>
    
    
        <li class = "sidebar-dashboard-items">
            <a href = "/user-settings/works">
                <span class = "fui-plus sidebar-dashboard-nav-icon inline-block-middle"></span>
                <div class = "sidebar-dashboard-nav-name inline-block-middle">+ Works</div>
            </a>
        </li>
        
    </ul>
</div>