<html>
<head>
    <meta charset="UTF-8">
    <title>User Manager</title>
</head>
<body>
    <% 

    if (page == "products") { %>
    <% include components/products %>
    <% } 
    
    %>

</body>
</html>
