<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../shared/styles %>

    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/discover.css">
    <link rel="stylesheet" type="text/css" href="/css/preview.css">

    <% include ../shared/scripts-top %>

    <title><%= title %></title>

    <style type="text/css">
      .fetched_data_container{
        display: none;
      }

      .check2{
        position:relative !important;
      }
    </style>

</head>
<body>

    <% include ../navbar/navbar-main %>
    <div class="row filters-nav-bar">

        <div class = "menu-dashboard">
                <form id="navFiltersForm" class = "filter" method = "get" action = "">

                    <select id="multiple_filter_departments" multiple="multiple">
                      
                    </select>
                
                 
                    <select id = "multiple_filter_genres" multiple = "multiple"></select>


                    <select id = "multiple_filter_skills" multiple = "multiple"></select>
                
                
                    <select id = "multiple_filter_type" multiple = "multiple">
                        
                    </select>
                </form>

               <% if(user && user != null && user.name != null){ %>
               <div class = "user-name">
                  <small>Welcome</small>&nbsp <%= user.name %>
               </div>
              <%}%>
        </div>

    </div>

    <div class="container discover"> 

            <div class = "side-nav inline-block-top">

                  <% include ../shared/sidebar.ejs %>

            </div><div class = "main-block inline-block-top">

                  <div class = "recent-works" >
                        <div class="grid ">
                          <div class="grid-sizer"></div>
                            <div class="gutter-sizer"></div>

                          <div class="fetched_data_container"> Loading... </div>
                        </div>
                        <br />
                        <button class="load_more btn btn-login btn-primary load-more-discover">load More</button>
                        <div class="animation_image" style="display:none;">Loading...</div>
                  </div>

            </div><div class = "right-block inline-block-top">

                 <? include "right_block" ?>

            </div>

    </div>

    <div class="modal fade" id="preview" role="dialog" tabindex="-1"><div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-body"><img src = "/images/loading.gif"/></div></div></div></div> 
    <div class="modal fade" id="addNewList" role="dialog" tabindex="-1"><div class="modal-dialog modal-sm"><div class="modal-content"><div class="modal-body"><img src = "/images/loading.gif"/></div></div></div></div> 
    <div class="modal fade" id="skillpoolShareModal" role="dialog" tabindex="-1"><div class="modal-dialog "><div class="modal-content"><div class="modal-body"><img src = "/images/loading.gif" style = "width: 100px;"/></div></div></div></div> 

</body>

<% include ../shared/scripts %>
<script type="text/javascript" src = "/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/js/masonry.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script type="text/javascript" src="/js/nav-filters.js"></script>
<script type="text/javascript" src="/js/jquery.fieldselection.js"></script>
<script type="text/javascript" src="/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/js/jquery.tagmate.js"></script>
<script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

<% include scripts.ejs %>

</html>