<% include ../includes/commonCss %>
<% include ../includes/rolesCss %>

<div class = "main-container" ng-app="app">
    <div class  ="child-container">
        <div ui-view=""></div>
    </div>
</div>

<% include ../includes/commonJs %>
<% include ../includes/rolesJs %>